# Arquivos e diretórios do ambiente virtual
.venv/
.env/
*.env
*caminho_do_arquivo.xml
*caminho_do_arquivo.pfx
*console_import.txt
*config.json

# Bytecode Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pypirc

# Logs e arquivos temporários
*.log
*.swp
.DS_Store

# Arquivos gerados
dist/
build/
*.egg-info/
